{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7", "> 1%", "IE 11"]
        }
      }
    ]
  ],
  "plugins": ["syntax-async-functions", "transform-regenerator"]
}
