lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

coverage/
doc/
bower_components/
junit/

*.iml
.idea/
.vscode/
jsconfig.json

.nyc_output
coverage/
doc/
node_modules/
typings
yarn.lock
