lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

coverage/
doc/
bower_components/

*.iml
.idea/
.vscode/
jsconfig.json

coverage/
dist/js-data-tests.js
dist/js-data-tests.js.map
lib/
node_modules/
scripts/
src/
test/
.bowerrc
bower.json
circle.yml
favicon.ico
*.png
karma.conf.js
karma.start.js
mocha.start.js
doc/
.github