lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

coverage/
doc/
bower_components/

*.iml
.idea/
.vscode/
jsconfig.json

.nyc_output
.github/
coverage/
doc/
lib/
node_modules/
scripts/
src/
test/
.gitignore
.mailmap
bower.json
circle.yml
conf.json
favicon.ico
*.png
rollup.config.js
