version: 2
jobs:
  test:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: npm install
      - run:
          name: Test
          command: npm test
      - run:
          name: Generate code coverage
          command: npm run cover

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
