pre{
    position: relative;
}

.code-copy-icon-container{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    fill: #fff;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 50%;
}

.code-copy-icon-container:hover{
    background-color: #fff;
    fill: #000;
}

.code-copy-icon-container > div{
    position: relative;
    margin-top: 4px;
}

.sm-icon{
    width: 16px;
    height: 16px;
}

.code-lang-name-container{
    position: absolute;
    top: 10px;
    left: 15px;   
}

.code-lang-name{
    color: #ff8a00;
    font-family: 'code';
    font-size: 12px;
}

.tooltip{
    padding: 3px 8px;
    background: #ffce76;
    top: -2px;
    right: 30px;
    position: absolute;
    color: #000;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s;
}

.show-tooltip{
    opacity: 1;
    transform: scale(1);
}